.conteiner-form{
/*   position: relative;*/
    background-color: $gray-300;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    .form{
        width: 90%;
        display: flex;
        justify-content: center;
    }
}
.pesquisa{
    color: white;
    font-size: 1.4rem;
    margin-left: .6rem;
    &:hover{
        color: $blue;
    }
}
.form-input{
    width: 80%;
    border-radius: .3rem;
    line-height: 1.8rem;
    border: none;
    &:focus{
        border-color: $blue;
    }
}